<div class="imprint-container">
    <app-header2></app-header2>
    <main><h1>Impressum</h1>
        <p>Steffen Schanze<br />
        Pfinzstra&szlig;e, 16<br />
        76227 Karlsruhe</p>
        
        <h2>Kontakt:</h2>
        <p>Telefon: 017634394501<br />
            E-Mail: steffenjoachim.schanze&#64;gmail.com
        </p>
        
        <p class="source">Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    </main>
    <app-footer></app-footer>
</div>