.imprint-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.source {
    margin-top: 3rem;
}