main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-container {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
}


@media (min-width: 570px) { 
    .card-container {
        padding-top: 3.7rem;
    } 
}

@media (min-width: 930px) { 
    .card-container {
        padding-top: 0;
        align-items: center;
    } 
}